@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

.app {
  width: 100%;
  height: 100vh;

  /* BACKGROUND IMAGE FROM PUBLIC */
  background: url("/bg.png") center / cover no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

/* Login Card */
.login-card {
  width: 320px;
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.4);
}

/* Inputs */
.login-card input[type="text"],
.login-card input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 20px;
  border: none;
  background: #ffb6c1;
  outline: none;
}

/* Options */
.options {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-bottom: 15px;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #7a3e9d;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.login-card button:hover {
  background: #5f2c82;
}

.create {
  margin-top: 15px;
  font-size: 13px;
  color: #7a3e9d;
  cursor: pointer;
}